* {
  text-decoration: none;
  list-style-type: none;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: red;
}
.header {

  background-color: #ffffff;
  .wrapper {
    display: flex;
    padding: 0 150px;
    margin: 0 auto;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    .nav {
      &-list {
        display: flex;
        &-item {
          &:not(:last-child) {
            margin-right: 80px;
        }
          &-link {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #333333;
            transition: .2s;
            &:hover {
              font-weight: 900;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}